.nav-links {
  justify-content: center;
}

.navbar {
  background-color: #278AB0;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}

.site-footer {
  background-color: #278AB0;
  color: #ffffff;
}

.site-footer a {
  color: #ffffff;
}

.site-footer a:hover {
  color: #1DC690;
}

.text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
 -webkit-box-orient: vertical;
-webkit-line-clamp: 10;
display: -webkit-box;
}